

*{
   margin: 0;
   padding: 0;
}

@font-face {
  font-family: 'Poppins-medium';
  src: url('./Assets/Fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins-light';
  src: url('./Assets/Fonts/Poppins/Poppins-Light.ttf');
}


@font-face {
  font-family: 'Poppins-black';
  src: url('./Assets/Fonts/Poppins/Poppins-Black.ttf');
}

.body_top{
  height: 100vh;
  background: url('https://images.pexels.com/photos/5012071/pexels-photo-5012071.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  height: 720px;
 
  
}

.blog-side { 
  display: flex;
  flex-direction: row;
}

