@media only screen and (max-width: 500px) {

*{
    width: 500px;
}
.footer-wrap { 
    padding-top: 100px;
    background: #6CCFF6;
    height: 45vh;
    text-align: center;
}

.store-n { 
    padding-top: 21px;
    height: 30px;
    width: 100px;
    padding-left: 10px;
}

.link {
    width: 500px;
    padding-top: 30px;
    font-size: 14px;
    
    text-decoration: none;
    color: white;
    font-family: Poppins-light;
    opacity: 0.7;

}

.logo-footer { 
    height: 50px;
    width: 50px;
    padding-bottom: 30px;
}


}
@media only screen and (min-width: 501px) and (max-width: 700px) {

.footer-wrap { 
    background: #6CCFF6;
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link {
    padding-top: 30px;
    font-size: 14px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
    font-family: Poppins-light;
    

}

.left-footer {
    padding-bottom: 20px;
    margin-top: 30px; 
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.right-footer{ 
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
}


.logo-footer { 
    padding-bottom: 20px;
    height: 30px;
    width: 30px;
}

.store-n { 
    padding-top: 20px;
    height: 30px;
}

}
@media only screen and (min-width: 701px) {

    
    .footer-wrap { 
        padding-top: 100px;
        background: #6CCFF6;
        height: 45vh;
        text-align: center;
    }
    
    .store-n { 
        padding-top: 21px;
        height: 30px;
        width: 100px;
        padding-left: 10px;
    }
    
    .link {
        padding-top: 30px;
        font-size: 14px;
        padding-right: 20px;
        text-decoration: none;
        color: white;
        font-family: Poppins-light;
        opacity: 0.7;
    
    }
    
    .logo-footer { 
        height: 50px;
        width: 50px;
        padding-bottom: 30px;
    }
    
    
    }
    