@media only screen and (min-width: 501px) and (max-width: 700px) {


.bold-text{ 
   
    font-size: 45px;
    color: white;
}

.button-start{
    width: 200px;
}
.button-start { 
    
    font-size: 22px;
    padding: 10px;
    background-color:#6CCFF6;
    color: white;
    border: solid #6CCFF6;
    border-radius: 10px;
}

.text-part {
    text-align: center;
    font-size: 70px;
    font-family: Poppins-medium;
    padding-top: 100px;
  
}

.logos { 
    padding-top: 50px;
    margin-left: 20px;
    width: 90%;
}

}

@media only screen and (min-width: 700px) {

.bold-text{ 
    font-size: 65px;
    

}


.back-land { 
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 200px;
}

.text-part {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 70px;
    font-family: Poppins-medium;
    padding-top: 180px;
    
}
.right-part{
    padding-top: 80px;
    padding-right: 150px;
}

.button-start { 
    font-size: 22px;
    padding: 10px;
    background-color:#6CCFF6;
    color: white;
    border: solid #6CCFF6;
    border-radius: 10px;
}



.iphone { 
  
    height: 680px;
}
}

@media only screen and (max-width: 500px) and (min-width: 0px)  {
    
.bold-text{ 
    width: 500px;
    font-size: 35px;
    color: white;
}

.button-start{
    margin-left: 170px;
    width: 130px;
    font-size: 15px;
    padding: 10px;
    background-color:#6CCFF6;
    color: white;
    border: solid #6CCFF6;
    border-radius: 10px;
}

.text-part {
    
    width: 200px;
    text-align: center;
    font-size: 50px;
    font-family: Poppins-medium;
    padding-top: 100px;
    color: black;
  
}
}

