.activeLink:hover { 
    color: #6CCFF6;
}

.nav-back { 
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    

}


.nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 170px;


}



@media only screen  and (max-width: 700px) and ( min-width:500px) {
    .nav-back { 
        width: 500px;
    }
     .title {
         color: black;
         text-decoration: none;
         width: 100px;
         font-family: Poppins-medium;
         font-weight: 700;
         font-size: 22px;
         padding-left: 10px;
     }
 
 
 .nav-right{
     display: flex;
     flex-direction: row;
     align-items: center;
     padding-right: 40px;
     
 }
 
 .logo {
 
     padding-right: 10px;
     height: 30px;
     width: 30px;
 }
 
 .activeLink {
     display: none;
 }
 
 
 .nav-left{
     
     display: flex;
     flex-direction: row;
     align-items: center;
     padding-left: 270px;
 
 
 }
 .store { 
     display: none;
 }
 .logo-link{
     width: 40px;
 }


}


@media only screen and  (min-width: 700px){


    .title {
        color: black;
        text-decoration: none;
        width: 100px;
        font-family: Poppins-medium;
        font-weight: 700;
        font-size: 22px;
        padding-left: 10px;
    }


.nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 40px;
    
}

.logo {

    padding-right: 10px;
    height: 30px;
    width: 30px;
}

.activeLink {
    font-family: Poppins-medium;
    font-size: 15px;
    text-decoration: none;
    padding-left: 45px;
    color:black;
}


.nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50px;


}


.store { 
    height: 30px;
    padding-left: 20px;
}
}


@media only screen and (max-width: 500px) and (min-width: 0px)  {
   .nav-back { 
       width: 500px;
   }
    .title {
        color: black;
        text-decoration: none;
        width: 100px;
        font-family: Poppins-medium;
        font-weight: 700;
        font-size: 22px;
        padding-left: 10px;
    }


.nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 40px;
    
}

.logo {

    padding-right: 10px;
    height: 30px;
    width: 30px;
}

.activeLink {
    display: none;
}


.nav-left{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 160px;


}
.store { 
    display: none;
}
.logo-link{
    width: 40px;
}
}