.write {
    padding-top: 50px;
  }
  
  .writeImg {
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .writeForm {
    position: relative;
  }
  
  .writeFormGroup {
    margin-left: 150px;
    display: flex;
    
    align-items: center;
  }
  
  .writeIcon {
    width: 25px;
    height: 25px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 50%;
    color: rgb(129, 125, 125);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .writeInput {
      margin-top: 30px;
    font-size: 28px;
    border: none;
    padding: 12px;
    width: 33vw;
    background: rgb(241, 241, 241);
    border-radius: 20px;
   
    
   
  }
  .input-image-url { 
    margin-top: 30px;
    font-size: 16px;
    border: solid 1px transparent;
    padding: 10px;
    width: 23vw;
    margin-left: 150px;
    
    border-bottom:solid 2px rgb(241, 241, 241);

    
  }

  .input-image-url:focus {
    outline-style: none;
  }
  
  .writeInput::placeholder {
      
    color: rgb(189, 185, 185);
    font-weight: 400;
   
  }

  .image-solved { 
    display: flex;
    flex-direction: column;
  }
  
  .writeInput:focus {
    outline-style: none;
  }
  
  .writeText {
    padding-top: 40px;
    background: rgb(241, 241, 241);
    margin-top: 60px;
    width: 65vw;
    height: 10vh;
    font-family: inherit;
    font-size: 20px;
    border-radius: 20px;
  }
  
  .writeSubmit {
    position: absolute;
    top: 70px;
    right: 50px;
    color: white;
    background-color: #6CCFF6;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: -50px;
  }

  #fileInput { 
      margin-top: 20px;
      margin-left: 150px;
  }